.DS_Store
.idea/
*.iml
.env
server/.env
server/.gradle/
server/build/
server/.idea/
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/.swiftpm/
ios/build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/gradle/wrapper/gradle-*-bin.zip
*.jks
*.keystore
*.hmap
DerivedData/

